* {
  text-decoration: none;
  border: 0;
}
/* Poppup */
h2 {
  text-align: center;
}
.poppup {
  height: 550px;
  width: 350px;
}
.poppup_header {
  display: flex;
  background-color: #000;
  padding: 5px 10px;
  align-items: center;
  color: #fff;
  align-items: center;
  justify-content: center;
}
/* Poppup Links */
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.link {
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
.link {
  padding: 3px 6px;
}
.link:hover {
  opacity: 80%;
  cursor: pointer;
}
.interactive {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Poppup Queue */
.queue_field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 5px;
}
.queue_link {
  color: #000;
}
.loading_icon {
  height: 10px;
  width: 10px;
}
.main {
  font-weight: bold;
}
.secondary {
  margin-left: 10px;
}
.queue_link:hover,
.tab_producer_email:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Sidepanel */
.reason_button {
  padding: 5px 10px;
}
.reason_title {
  text-align: left;
}
.reason_subtitle {
  color: red;
  font-size: 16px;
  font-weight: 600;
}
.reason_text {
  font-size: 16px;
}
.reason_button:hover,
.reason_text:hover {
  cursor: pointer;
  opacity: 80%;
}
.reason_button {
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
.copied_message,
.copied_email {
  display: none;
  margin-left: 10px;
  font-style: italic;
}
.copied_email {
  color: white;
}
.copied_message {
  color: red;
}
.copied_message.show,
.copied_email.show {
  display: inline;
}

/* SP */
.tab_producer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}
.tab_producer_email {
  display: flex;
}
.block_cursor {
  pointer-events: none;
}
