:root {
  --button-padding: 5px 10px;
  --border-radius: 2px;
  --main-color: #000;
  --secondary-color: #fff;
}

* {
  text-decoration: none;
  border: 0;
}

/* Poppup */

.poppup {
  height: 555px;
  width: 350px;
}

.poppup_title {
  text-align: center;
}

.poppup_header {
  display: flex;
  background-color: var(--main-color);
  padding: 3px 6px;
  color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

/* Shadow */
.poppup_header,
.link,
.interactive_button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
}

/* Poppup Links */
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 5px 0 5px 0;
}

.link {
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 3px 6px;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.link:hover {
  opacity: 80%;
  cursor: pointer;
  transform: scale(1.02);
}

.interactive {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.interactive_button {
  padding: var(--button-padding);
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.interactive_button:hover {
  cursor: pointer;
  opacity: 80%;
  transform: scale(1.02);
}

/* Poppup Queue */
.queue_field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
  margin-top: 5px;
  font-size: 14px;
}

.queue_head {
  background-color: #f2f2f2;
}

.queue_link {
  color: var(--main-color);
  font-family: inherit;
}

.queue_table {
  width: 100%;
  border-collapse: collapse;
}

.queue_text,
.queue_title {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.queue_title {
  text-align: left;
  font-size: 12px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  border-bottom: 2px solid black;
}

.loading_icon {
  height: 10px;
  width: 10px;
}

.main {
  font-weight: bold;
  font-size: 12px;
}

.main_bold {
  font-weight: bold;
}

.secondary {
  margin-left: 10px;
  font-size: 12px;
}

.queue_link:hover,
.tab_producer_email:hover,
.refresh:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Sidepanel */
.sidepanel_header {
  display: flex;
  justify-content: space-between;
  padding: var(--button-padding);
  align-items: center;
  border-bottom: 1px solid var(--main-color);
}

.sidepanel_title {
  font-size: 20px;
}

.reason_title,
.sidepanel_toggle_btn {
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: var(--button-padding);
  transition: transform 0.3s ease-in-out;
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
}

.sidepanel_toggle_btn {
  align-content: center;
}

.sidepanel_toggle_btn:hover,
.reason_title:hover {
  transform: scale(1.02);
}

.reason_text {
  font-size: 16px;
  display: none;
  padding: var(--button-padding);
  border-bottom: 1px solid var(--main-color);
}

.reason_text:hover,
.reason_title:hover,
.sidepanel_toggle_btn:hover {
  cursor: pointer;
  opacity: 80%;
}

/* Copy */
.copied_message,
.copied_email {
  display: none;
  margin-left: 10px;
}

.copied_message {
  background: var(--main-color);
  padding: 2px 4px;
  color: var(--secondary-color);
}

.copied_message.show {
  display: inline;
}

/* SP */
.loading_link {
  pointer-events: none;
  color: gray;
  padding: 4px 12px;
}

.tab_producer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  align-items: flex-start;
  font-size: 16px;
}
.sp_status {
  background: #102027;
  color: #fff;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-weight: 700;
  border-width: 0;
}

.tab_producer a {
  display: inline;
  white-space: nowrap;
}

.tab_producer_email {
  display: inline;
}

.btn_margin_left {
  margin-left: 4px;
}

.btn_margin_right {
  margin-right: 4px;
}

.label-warning {
  background-color: #000;
}

/* Monetization */
.comment_popup {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 5px 10px;
  color: red;
  display: none;
  border: 1px solid #333333;
  margin-top: 5px;
}

.multiple_comment {
  margin-top: 20px;
  display: block;
  max-width: auto;
}

/* Multiple Moderation */
.multiple-request-notify {
  padding: 15px 20px 15px 20px;
  color: black;
  margin: 20px 0px 20px 0px;
  text-align: center;
  border: 5px solid #3ad552;
}
